<p>pre-defined-pipes works!</p>
<pre>

    <!-- {{myName}}
    
    {{myName | uppercase}} -->
    
    {{myName | titlecase}}
    
    {{myName | lowercase}}
<!--     
    {{myDate}}
    
    {{myDate | date}}
    
    {{myDate | date : 'fullDate'}}
    
    {{myDate | date : 'shortDate'}}
    
    {{myDate | date: 'dd/MM/yyyy'}}
    
    {{myDate | date: 'MM/dd/yy'}}
    
    {{myDate | date: 'dd/MM/yyyy hh:mm:ss'}}
    
    {{myAmount | currency}}
    
    {{myAmount | currency:'AUD':true}}
    
    {{myAmount | currency:'EUR':true}}
    
    {{myAmount | currency:'INR':true}}
    
    {{product | json}} -->

</pre>