<p>products-service-assignment-ten works!</p>

    <pre ><h4> Search by Product name: <input type="text" placeholder="search with Product" [(ngModel)]="searchProd"></h4></pre>

    <div class="container">
<div class="d-flex row">

    <div *ngFor="let product of products | productsearchfilter : searchProd" class="col-md-4" style="margin-top: 5px;margin-bottom: 10px;">

        <div class="card bg-white rounded" style="width: 24rem;">

            <img src={{product.productImg}} class="card-img-top" alt="..." width="200"  height="200">

            <p >Product Id :{{product.productId}}</p>

            <p>Product Name: {{product.productName}}</p>

            <p>Product Price:{{product.productPrice}}</p>

            <p>Product Description:{{product.productDesc}}</p>

        </div>

    </div>

</div>
</div>